@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Đăng nhập</h2>
@using (Html.BeginForm("Login", "Account_64130299", FormMethod.Post))
{
    <div>
        <label for="username">Tên đăng nhập</label>
        @Html.TextBox("username", null, new { @class = "form-control", placeholder = "Tên đăng nhập" })
    </div>
    <div>
        <label for="password">Mật khẩu</label>
        @Html.Password("password", null, new { @class = "form-control", placeholder = "Mật khẩu" })
    </div>
    <div>
        <input type="submit" value="Đăng nhập" class="btn btn-primary" />
    </div>
}

