
@{
    ViewBag.Title = "Thanh Toán Thành Công";
    Layout = "~/Views/Shared/_Layout641302999.cshtml";
}

<h2>Chúc Mừng! Bạn đã đăng ký thành công gói thành viên.</h2>
<p>Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi.</p>

